.form_inp_option{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.form_inp_option span{
    margin-left: 12px;    
}

.form_inp_option span:hover{
    cursor: pointer;
}

